div(class="row" id="navbar" )
    div(class="col-md-12 d-flex justify-content-around")
        a(href="http://localhost:3000/login/revoked" class="btn btn-dark") Déconnexion
        
        a(href="http://localhost:3000/dashboard" class="btn btn-dark") Articles
        a(href="http://localhost:3000/dashboard/categories" class="btn btn-dark") Catégories
        a(href="http://localhost:3000/login/change" class="btn btn-dark") Configuration