doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include bootstrap.pug
    
  body
    div(class="row")
      div(class="col-sm-12")
        h1(class="text-center") #{title}
    include ../includes/navFront.pug
    block content
