doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include bootstrap.pug
    script(src="/javascripts/front.js")
  body
    div(class="row")
      div(class="col-sm-12")
        h1(class="text-center")
          a(href="http://localhost:3000/") #{title}
    block content
