doctype html
html
  head
    title= title
    include bootstrap.pug
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://localhost:3000/") = #{title}
      ul(class="navbar-nav px-3")
        li(class="nav-item text-nowrap")
          a(class="nav-link" href="http://localhost:3000/login") Sign in
    div(class="container-fluid")
      div(class="row")
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            ul(class="nav flex-column")
              li(class="nav-item")
        block content
