extends layouts/layout

block content

    div(class="row")
        div(class="col-md-12")
            div(class="error-template")
                h1 Oops!
                h2 400 Bad Request
                div(class="error-details")
                    p Sorry, an error has occured, Requested !

