extends layouts/layout

block content
	main(role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4")
		div(class="row")
			div(class="col-md-12")
				h2= subTitle
		if error
			div(class="row")
				div(class="col-md-12")
					p(class="error" id="error")= error
		div(class="row")
			div(class="col-md-5")
				form(action=`/dashboard/category`, method="POST")
					div(class="form-group")
						label(for="tag") Nom de la catégorie
						if category
							input(type="text", name="tag" id="tag" class="form-control" value=`${unescape(category.tag)}`)
						else
							input(type="text", name="tag" id="tag" class="form-control" )
					div(class="col-md-6 d-flex justify-content-between")
						a(href="http://localhost:3000/dashboard/categories" class="btn btn-dark") Annuler
						if category
							button(type="button" class="btn btn-dark" onClick=`putCategory(${category.id})` ) Sauvegader
						else
							button(type="submit" class="btn btn-dark") Créer
