body {
  padding: 50px;
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.table td {
  vertical-align: middle;
}

.badge {
  margin: 2px;
}
#contentArticle {

  margin-top: 10px;
}
#author {
  margin-bottom: 5px;
}

#navbar {
  margin-top: 30px;
}

#create {
  margin-top: 10px;
  margin-bottom: 10px;
}